#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav button {
  padding: 0.5rem 1rem;
  background: #555;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px;
}
.container {
  margin-top: 20px;
  background-color: #f0f0f0;
  color: black;
}
h3 {
  color: #333;
  font-size: 40px;
}